<div class="container">
  <div class="row">
    <div class="col-4 mx-auto">

    </div>
    <div class="col-8">
      <table class="table table-borderless">
        <%= form_with model: @post, url: posts_path do |f| %>
        <tbody>
          <h4 class="border border-success rounded text-center" style="margin-top:20px; padding:15px; width:18%;"><b>新規投稿</b></h4>
          <tr>
            <th>タイトル</th>
            <td><%= f.text_field :title, placeholder: "タイトルを記入してください", size: "30" %></td>
          </tr>
           <tr>
            <th>本文</th>
            <td><%= f.text_area :body, placeholder: "本文を記入してください", size: "35x7" %></td>
          </tr>
           <tr>
            <th>画像</th>
            <td><%= f.file_field :images, multiple: true %></td>
          </tr>
           <tr>
            <th>住所</th>
            <td><%=  %></td>
          </tr>
           <tr>
            <th>地図</th>
            <td></td>
          </tr>
        </tbody>
      </table>
      <%= f.submit "投稿する", class: "btn btn-primary btn-lg text-white", style: "margin-left:200px;" %>
      <% end %>
    </div>
  </div>
</div>
