<table class="table table-borderless">
  <%= form_with model: @post, url: posts_path do |f| %>
  <tbody>
    <h4 class="border">新規投稿</h4>
    <tr>
      <th class="title">タイトル</th>
      <td><%= f.text_field :title, placeholder: "タイトルを記入してください", size: "30" %></td>
    </tr>
     <tr>
      <th class="body">本文</th>
      <td><%= f.text_area :body, placeholder: "本文を記入してください", size: "35x7" %></td>
    </tr>
     <tr>
      <th class="img">画像</th>
      <td><%= f.file_field :images, multiple: true %></td>
    </tr>
     <tr>
      <th class="address">住所</th>
      <td><%=  %></td>
    </tr>
     <tr>
      <th>地図</th>
      <td></td>
    </tr>
  </tbody>
</table>
<%= f.submit "投稿する", class: "btn btn-primary btn-lg text-white", style: "margin-left:200px;" %>
<% end %>