<div class="container">
  <div class="row">
    <h2>マイページ</h2>
    <% @posts.each do |post| %>
    <%= image_tag post.user.get_profile_image, size: "50x50"%>
    <h3><%= post.user.name %></h3>
    <%= post.title %>
    <%= post.body %>
     <% post.images.each do |image| %>
    <%= image_tag image, size: "100x100" %>
    <% end %>
    <%= render "users/favorites/btn", post: post %>
    <%= render "users/comments/btn", post: post %>
    <% end %>
  </div>
</div>