<% if user_signed_in? %>
<div class="sidebar">
  <ul class="border-1">
    <li class="nav text-light" style="margin:5px;">
      <%= image_tag current_user.get_profile_image, size: "60x60" %> <%= current_user.name %>
    </li>
    <li>
      <%= link_to "ホーム", posts_path, class: "nav-link text-light" %>
    </li>
    <li>
      <%= link_to "フォロー一覧", follows_user_path(current_user), class: "nav-link text-light" %>
    </li>
    <!--<li>-->
    <!--  <#%= link_to "ユーザー検索", new_user_registration_path, class: "nav-link text-light" %>-->
    <!--</li>-->
    <li>
      <%= link_to "お気に入り", favorites_user_path(current_user), class: "nav-link text-light" %>
    </li>
    <li>
      <%= link_to "マイページ", user_path(current_user), class: "nav-link text-light" %>
    </li>
    <li>
      <% if current_user.email != "guest@example.com" %>
        <%= link_to "アカウント編集",edit_user_path(current_user), class: "nav-link text-light" %>
      <% end %>
    </li>
  </ul>
</div>
<% end %>