<div class="sidebar">
  <ul class="border-1">
    <li class="home">
      <%= link_to "ホーム", posts_path, class: "nav-link text-light" %>
    </li>
    <li>
      <%= link_to "フォロー一覧", new_user_registration_path, class: "nav-link text-light" %>
    </li>
    <li>
      <%= link_to "ユーザー検索", new_user_registration_path, class: "nav-link text-light" %>
    </li>
    <li>
      <%= link_to "お気に入り", new_user_registration_path, class: "nav-link text-light" %>
    </li>
    <li>
      <%= link_to "マイページ", new_user_registration_path, class: "nav-link text-light" %>
    </li>
    <li>
      <%= link_to "設定", new_user_registration_path, class: "nav-link text-light" %>
    </li>
  </ul>
</div>