<!DOCTYPE html>
<html>
  <head>
    <title>BookstoreTour</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/c69ddf785c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="full-page">
      <main>
        <%= render 'layouts/header' %>
        <div class="d-flex">
          <%= render 'layouts/sideber' %>
          <%= yield %>
        </div>
        <div class="d-flex">
          <%= render 'layouts/form' %>
        </div>
      </main>
    </div>
  </body>
</html>